<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>OUR ARTICLES</h1>

      <div class="row">
        <%= link_to "Add article", new_article_path %>
      </div>


      <%= render "shared/article_card" %>

    </div>
  </div>
  <%= link_to "Back to home page", root_path %>
</div>
