<div class="index container">
  <h4>DISCOVER OUR TRAVELS</h4> 

  <div class="container">
    <%= render "shared/article_card" %>
  </div>

  <div class="container mt-4">
    <div class="d-flex">
      <%= link_to "Back to home page", root_path, class: "small-button" %>
      <%= link_to "Add article", new_article_path, class: "small-button" %>
    </div>
  </div>
</div>