<!-- <div class="card-deck">

  <div class="card">
    <%#= image_tag("https://source.unsplash.com/random", alt:"image", crop: :fill, height: 500, class: "card-img-top rounded") %>

    <div class="card-body">
      <h5 class="card-title"><%#= @article.title %></h5>
      <p class="card-text"><%#= @article.description %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    <div>
      <%#= link_to "Explore", article_path(article)%>
    </div>
  </div>

</div> -->
