<!-- BANNER -->

	<div class="home-banner">
		<div class="home-banner-text">
			<h1>TIGHTRAVEL</h1>
			<h3>Enter a world of travel, discovery and beauty.</h3>
			<p class="big-pink-button">Start the journey</p>
		</div>
	</div>

<!-- LASTER ARTICLE CARROUSEL -->

<p>Need to render the small article tag</p>