<!-- BANNER -->
<div class="home-banner">
  <div class="home-banner-text">
    <h1>TIGHTRAVEL</h1>
    <h3>CATCHY TEXT TO GIVE THE EXCITEMENT TO THE VISITOR.</h3>
    <p><%= link_to "EXPLORE", articles_path, class: "big-button" %></p>
  </div>
</div>

<!-- LASTER ARTICLE CARROUSEL -->

<div class="container carousel">
	<h4>OUR LATEST ARTICLE</h4>


<%#= cl_image_tag("j9ic6alqgskwdtcmjqs1",
      width: 400, height: 300, crop: :fill) %>

</div>

