<!-- BANNER -->

	<div class="home-banner">
		<div class="home-banner-text">
			<h1>TIGHTRAVEL</h1>
			<h3>Enter a world of travel, discovery and beauty.</h3>
			<p class="big-pink-button">Start the journey</p>
		</div>
	</div>

<!-- LASTER ARTICLE CARROUSEL -->

<div class="container">

<p class="test">Need to render the small article tag</p>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("j9ic6alqgskwdtcmjqs1",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("tozzdbnq3vp6cvzrfgg8",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
      
</div>