.big-pink-button {
  color: white;
  background-color: #F76262;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  border-radius: 12px;
  padding: 20px 30px;
  letter-spacing: 1px;
  width: 220px;
  height: 60px;
  margin: 0 auto;
}