.navbar {
  list-style: none;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  position: absolute;
  z-index: 2;
  padding: 10px auto;
  li {
    padding-top: 1em;
  	margin-right: 0;
    font-weight: 200;
    letter-spacing: 2px;
  }
  &.transparent {
    background-color: transparent !important;
    li a:link,
    li a:visited {
	  padding: 8px 0;
	  color: white;
	  text-decoration: none;
	  border-bottom: 2px solid transparent; /* We want border exist before hover, but not yet visible.*/
	  transition: border-bottom 0.2s;
       }
    li a:hover,
    li a:active {
	  border-bottom: 1px solid #216583; /* Visible on hover */
       }   
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
  &.normal {
    border-bottom: 1px solid #dbd4bc;
    background-color: white;
    position: sticky;
    color: #216583;
    padding-bottom: 1em;
    li a:link,
    li a:visited {
	  padding: 8px 0;
	  text-decoration: none;
	  border-bottom: 2px solid transparent; /* We want border exist before hover, but not yet visible.*/
	  transition: border-bottom 0.2s;
       }
    li a:hover,
    li a:active {
	  // border-bottom: 1px solid #216583; /* Visible on hover */
       }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
  }
}

.navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
  justify-content: space-evenly;
}
